$accent-color: #984AE8;
$bg-color: #302C42;
#form {
    
    h2 {
        padding-top: 140px;
        font-size: 2.4rem;
        text-align: center;
        text-shadow: 4px 12px 6px rgba(5,5,5,.6);
        margin-bottom: 40px;
    }
    fieldset {
        position: relative;
        border: none;
        height: 600px;
    }
    div.wrap {
        width: 500px;
        position: absolute;
        top: 40%;
        left: 30%;
        transform: translate(-50%, -50%);
        vertical-align: middle;
    }

    div.wrap div {
        position: relative;
        margin: 50px 0;
    }

    label {
        position: absolute;
        top: 0;
        font-size: 1.8rem;
        margin: 10px;
        padding: 0 10px;
        
        background-color: $bg-color;
        -webkit-transition: top .2s ease-in-out, 
                            font-size .2s ease-in-out;
        transition: top .2s ease-in-out, 
                    font-size .2s ease-in-out;
    }

    .active {
        top: -25px;
        font-size: 20px;
    }
    textarea {
        resize: none;
    }
    input[type=text], input[type=email], textarea {
        width: 100%;
        padding: 20px;
        border: 1px solid white;
        border-radius: 8px;
        font-size: 20px;
        background-color: $bg-color;
        color: white;
    } 

    input[type=text]:focus {
        outline: none;
        border: 2px solid $accent-color;
    }
    input[type=email]:focus {
        outline: none;
        border: 2px solid $accent-color;
    }
    textarea:focus {
        outline: none;
        border: 2px solid $accent-color;
    }
    // .form-btn {
    //     position: absolute;
    //     bottom: 0;
    //     left: 50%;
    //     // width: 200px;
    //     transform: translateX(-50%);
    //     button {
    //         border: 1px solid #fff;
    //         padding: 20px 40px;
    //         font-size: 2.1rem;
    //     }
    // }
    :active, :hover, :focus {
  outline: 0!important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: "";
}
    .btn-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 10px auto 35px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.btn {
  position: relative;
  display: inline-block;
  width: auto; height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 250px;
}
 .btn span {         
    position: relative;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0; left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
  }
  .btn-4 span {
  color: $accent-color;
  background-color: $bg-color;
}
.btn-4 span:hover {
  color: $accent-color;
}
.btn-4::before,
.btn-4::after {
  width: 15%; height: 2px;
  background-color: $accent-color;
  z-index: 2;
}
  .btn.hover-border-7::before,
.btn.hover-border-7::after {
  bottom: 0;
  transition: width 0.2s 0.35s ease-out;
}
.btn.hover-border-7::before {
  right: 50%;
}
.btn.hover-border-7::after {
  left: 50%;
}
.btn.hover-border-7:hover::before,
.btn.hover-border-7:hover::after {
  width: 50%;
  transition: width 0.2s ease-in;   
}

.btn.hover-border-7 span::before,
.btn.hover-border-7 span::after {
  width: 0%; height: 0%;
  background: transparent;
  opacity: 0;
  z-index: 2;
  transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s 0.35s;
}
.btn.hover-border-7 span::before {
  bottom: 0; left: 0;
  border-left: 2px solid $accent-color;
  border-top: 2px solid $accent-color;
}
.btn.hover-border-7 span::after {
  bottom: 0; right: 0;
  border-right: 2px solid $accent-color;
  border-top: 2px solid $accent-color;
}
.btn.hover-border-7 span:hover::before,
.btn.hover-border-7 span:hover::after {
  width: 50%; height: 96%;
  opacity: 1;
  transition: height 0.2s 0.2s ease-in, width 0.2s 0.4s linear, opacity 0s 0.2s;   
}

}

$darkBlueGray: rgb(65, 82, 96);
$blueGray: rgb(85, 95, 107);
$blueGrayButton: rgb(73, 82, 91);
$blueGraySpeaker: rgb(62, 71, 82);
$black: rgb(30, 30, 30);
$cream: rgb(242, 235, 226);
$lightGray: rgb(176, 176, 176);
$lightestGray: rgb(218, 218, 218);
$borderGray: rgb(98, 96, 93);

body {
  background: rgb(102, 115, 133);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

// dev
.phone {
  margin: 10px auto;
}

.clear {
  clear: both;
}
.container {
    position: relative;
}
.phone {
    
    top: 54%;
    right: 10%;
    transform: translateY(-50%);
    height: 428px;
    width: 226px;
    background: $darkBlueGray;
    border-radius: 50px;
    position: absolute;
    overflow: hidden;
  
  .phone-shade {
    position: absolute;
    height: 500px;
    width: 200px;
    left: 50%;
    background: $blueGray;
    transform: rotate(18deg);
  }
  
  .phone-speaker {
    height: 8px;
    width: 42px;
    border-radius: 4px;
    background: $blueGraySpeaker;
    position: relative;
    top: 23px;
    left: 50%;
    margin-left: -21px;
  }
}

.phone-button {
  height: 40px;
  width: 40px;
  background: $blueGrayButton;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: 10px;
}

.phone-screen {
  height: 302px;
  width: 208px;
  background: $cream;
  position: absolute;
  left: 9px;
  top: 58px;
  overflow: hidden;
}

.phone-header {
  width: 100%;
  height: 30px;
  background: $black;
  position: relative;
  z-index: 3;
  color: white;
  
  .phone-menu {
    position: absolute;
    right: 10px;
    top: 9px;
    background: white;
    width: 15px;
    height: 2px;
    
    &:before {
      content: "";
      width: 15px;
      height: 2px;
      top: 5px;
      background: $cream;
      position: absolute;
    }
    
    &:after {
      content: "";
      width: 15px;
      height: 2px;
      top: 10px;
      background: $cream;
      position: absolute;
    }
  }
}

.phone-post {
  padding: 15px 10px;
  border-bottom: 2px solid $borderGray;
  overflow: hidden;
  height: 60px;
  position: relative;
  transform: translateY(-60px);
  z-index: 2;
  
  &.active {
    animation: new-post 1s ease forwards;
  }

  .post-thumb {
    height: 29px;
    width: 27px;
    background: $lightGray;
    position: absolute;
    margin-right: 5px;
  }
  
  .post-title-1 {
    height: 4px;
    width: 14px;
    margin-top: 3px;
    background: $lightestGray;
    position: absolute;
    left: 44px;
  }
  
  .post-title-2 {
    height: 4px;
    width: 26px;
    margin-top: 3px;
    background: $lightestGray;
    position: absolute;
    left: 63px;
  }
  
  .post-line-1 {
    height: 4px;
    width: 150px;
    background: $lightGray;
    position: absolute;
    left: 44px;
    top: 27px;
  }
  
  .post-line-2 {
    height: 4px;
    width: 100px;
    background: $lightGray;
    position: absolute;
    left: 44px;
    top: 36px;
  }
}

#first-post { 
  .line {
    width: 0;
  }
}

#first-post.active {
  .post-thumb {
    transform: scale(0);
    animation: box-grow 500ms ease 500ms forwards;
  }
  
  .line {
    transition: width 500ms ease;
    transition-delay: 600ms;
  }
  
  .post-title-1 {
    width: 14px;
  }
  
  .post-title-2 {
    width: 26px;
  }
  
  .post-line-1 {
    width: 150px;
  }
  
  .post-line-2 {
    width: 100px;
  }
}



@keyframes new-post {
  0% {
    transform: translateY(-100%);
  }
  
  100% {
    transform: translateY(0px);
  }
}

@keyframes box-grow {
  0% {
    transform: scale(0) rotate(25deg);
  }
  
  60% {
    transform: scale(1.2) rotate(-10deg);
  }
  
  100% {
    transform: scale(1) rotate(0);
  }
}
