$text-color: #fff;
$accent-color: #984AE8;
$gradient: linear-gradient(90deg, rgba(129, 118, 175, .5) 0%, rgba(192, 183, 232, .5) 100%);
.logo {
    padding-left: 10px;
    display: block;
    width: 140px;
    cursor: pointer;
    color: $text-color;
    transition: all .4s ease;
}
header {
    z-index: 1000;
    position: fixed;
    // top: 20px;
    left: 0;
    width: 100%;
    padding: 10px 0 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    transition: background-color .4s ease;

    @media (max-width: 1800px){
        justify-content: space-between;
    }
}
.header-navbar {
    display: flex;
    justify-content: center;
    gap: 40px;
    @media (max-width: 768px){
        display: none;
    }
    li {
        a {
            color: $text-color;
            font-family: Montserrat;
            font-size: 1.25rem;
            font-weight: 700;
            padding: 10px;
            background: transparent;
            border-radius: 26px;
            transition: all .4s ease;
            &:hover {
                color: $accent-color;
            }
            &[aria-current='page'] {
                background: $gradient;
            }
        }
    }

}
.header-social {
    margin-right: 16px;
    @media (max-width: 768px){
        display: none;
    }
    a {
        display: flex;
        justify-content: center;
        align-items:center;
        border-radius: 50%;
        padding: 5px;
        background: $gradient;
        color: $text-color;
        font-size: 20px;
        transition: all .4s ease;
        
        &:hover {
            color: $accent-color;
        }
    }
    li {
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.burger {
    display: none;
    @media (max-width: 768px){
        display: block;
    }
    .burger-btn {
        width: 40px;
        height: 30px;
        position: relative;
        margin-right: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
        span, 
        span::before,
        span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: $text-color;
            border-radius: 2px;
            transition: all .4s ease;
        }
        span {
            top: 50%;
            transform: translateY(-50%);
        }
        span::before {
            content: '';
            top: -10px;
        }
        span::after {
            content: '';
            top: 10px;
        }
        &:hover span,
        &:hover span::before,
        &:hover span::after {
            background-color: $accent-color;
        }
        &.close span {
            background-color: transparent;
        }
        &.close span::before {
            top: 0;
            transform: rotate(45deg);
        }
        &.close span::after {
            top: 0;
            transform: rotate(-45deg);
        }
        
    }
}

