$gradient: linear-gradient(90deg, rgba(129, 118, 175, .5) 0%, rgba(192, 183, 232, .5) 100%);

.skills-block {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    gap: 10px;
}
#skills {
    width: 90%;
    margin: 0 auto;
    background:  url('/public/images/Vector7.svg') no-repeat left bottom, url('/public/images/Vector8.svg') no-repeat right bottom;
    h2 {
        padding-top: 80px;
        font-size: 2.4rem;
        text-align: center;
        text-shadow: 4px 12px 6px rgba(5,5,5,.6);
        margin-bottom: 40px;
    }
    .skills-main-title {
        font-size: 1.6rem;
        margin-bottom: 12px;
        text-shadow: 4px 10px 6px rgba(5,5,5,.6);
    }
    .experience-list {
        padding-left: 20px;
        li {
            display: flex;
            justify-content: start;
            gap: 4px;
            align-items:center;
            margin-bottom: 12px;
            .experience-img {
                max-width: 60px;
                img {
                    border-radius: 50%;
                }
                
            }
            
        }
    }
}
.experience-title, .education-title {
    font-size: 1.2rem;
    font-weight: 700;
}
.experience-date, .education-date {
    color:rgba(192, 183, 232, .6);
    font-weight: 700;
    font-size: 0.9rem;
}
.education-company, .experience-company {
    padding-left: 4px;
}
.skills-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}
.education-list {
    padding-left: 20px;
    li {
        display: flex;
        justify-content: start;
        gap: 4px;
        align-items:center;
        margin-bottom: 12px;
        .education-img {
            max-width: 60px;
            img {
                border-radius: 50%;
            }
        }
    }
}
.skills-img {
    display: inline-flex;
    justify-content: center;
    align-items:center;
    max-width: 680px;
    img {
        // transform: rotateY(180deg);
        border-radius: 0 0 20px 20px;
        filter: drop-shadow(4px 2px 8px rgba(192, 183, 232, .6));
        // box-shadow: 6px 16px 16px 8px rgba(129, 118, 175, .6);
    }
}
.tools {
    padding-top: 20px;
    grid-column: span 2;
}
.tools-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    align-items: center;
    padding-left: 20px;
}
@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}
:root {
	--d: 16500ms;
	--angle: 90deg;
	--gradX: 25%;
	--gradY: 25%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}
.box {
	font-size: 1.2rem;
    font-weight: 700;
	// margin: max(1rem, 3vw);
	border: 4px solid;
	padding: 20px 10px;
    margin: 4px;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 8;
	animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 390deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}
@media (max-width: 1400px) {
    .skills-block {
        grid-template-columns: 1fr;
        text-align: center;
        .skills-img {
            margin: 0 auto;
            margin-bottom: 40px;
        }
    }
}
@media (max-width: 980px) {
    .skills-img {
        max-width: 90%;
    }
}

@media (max-width: 620px) {
    .skills-content {
        grid-template-columns: 1fr;
        div {
            grid-column: span 1; 
        }        
    }
    #skills .experience-list li, .education-list li {
        justify-content: space-between;
    }
    .tools {
        display: none;
    }
}